<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lincolntee.studentfinance">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_account_balance_wallet_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:label = "Main Menu"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity"
            android:label = "Profile Information"
            />

        <activity android:name=".LoanActivity"
            android:label = "Loan Information"/>

        <activity android:name=".LivingExpensesActivity"
            android:label = "Living Expenses Information"/>

        <activity android:name=".InformationActivity"
            android:label = "Information"
            ></activity>
    </application>

</manifest>